[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
django = "*"
pillow = "==5.1.0"
nltk = "*"
beautifulsoup4 = "*"
fpdf = "*"
requests = "*"
lxml = "*"
black = {git = "https://github.com/psf/black"}

[scripts]
server = "pipenv run python bliss_online/manage.py runserver"
makemigrations = "pipenv run python bliss_online/manage.py makemigrations"
migrate = "pipenv run python bliss_online/manage.py migrate"

[requires]
python_version = "3.8"
